.custom-button {
  background-color: #730714;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 20px; 
  transition: background-color 0.3s ease;
  width: 187px;
  height: 42px;
}

.custom-button:hover {
  background-color: #AF737A
}

.custom-button:active {
  background-color: #58060D;
}