.white-container-small {
    width: 272px;
    height: 183px;
    background-color: #FFFFFF;
    border: 2px solid #730714;
    margin: 5px auto;
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: box-shadow 0.3s ease;
  }
  

  .white-container-small:hover {
    box-shadow: 4px 4px 12px #730714;
  }
  
  .white-container-small.selected {
    background-color: #730714;
    color: white;
    box-shadow: 4px 4px 12px #730714;
    border: 2px solid #730714;
  }
  
  .white-container-small.selected .bold-shape-text-bold,
  .white-container-small.selected .bold-shape-text {
    color: white;
  }
